# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# C++
[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]
indent_size = 2

# Python
[*.py]
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false

# Quarto
[*.qmd]
trim_trailing_whitespace = false

# Makefile
[Makefile]
indent_style = tab
